{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<div class="section">
		<div class="container grid">
			<h1 class="section-title">{{article.title}}</h1>
			{% for message in app.flashes('message') %}
				<div class="success-message">
					{{message}}
				</div>
			{% endfor %}
			<div class="blog-container">
				<div class="blog-img">
			
				</div>
				<div class="blog-info">
					<h2>{{article.title}}</h2>
					<p>{{article.createdAt|date("d/m/Y")}}</p>
					<p>{{article.content}}</p>

				</div>
			</div>
		</div>
	</div>



	<div class="section">
		<div class="container grid">
			<div class="blog-various">
				<div>
					<p>Vous voulez participer au forum ? Connectez-vous !</p>
					<a href="{{path('app_login')}}">
						<button class="button">Connexion</button>
					</a>
					<!--<a href="{{path('app_register')}}" ><button class="button">Inscription</button></a> -->
				</div>

				<div>
					<p>Vous êtes déjà inscrit ou connecté ?</p>
					{% if is_granted('ROLE_USER') %}
						<a href="#ajout-commentaire">
							<button class="button">Poster</button>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/main.js')}}"></script>
	<script>
		window.onload = () => {
document.querySelectorAll("[data-reply]").forEach((element) => {
element.addEventListener("click", function () {
document.querySelector("#comment_parent").value = this.dataset.id;
});
});
};
	</script>

{% endblock %}