{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="section">
		{% for message in app.flashes('success')  %}
			<div class="success-message">
				{{message}}
			</div>
		{% endfor %}
		<div class="form-login">
			<h1 class="section-title">
				Inscription
			</h1>

			<div class="form-container">

				{{ form_start(registrationForm) }}

				<div class="form-input">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="form-input">
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				</div>
				<div class="form-input">
					{{ form_row(registrationForm.agreeTerms) }}
				</div>
				<button type="submit" class="button">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
			<div class="form-question">
				<p>Vous avez déjà un compte ?</p>
				<a href="{{path('app_login')}}">C'est par ici !</a>
			</div>
		</div>
	</div>
{% endblock %}
