{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<main id="home">

		{% for message in app.flashes('success') %}
			<div class="success-message">
				{{message}}
			</div>
		{% endfor %}
		<!--présentation huile vegetale-->
		<section class="home-section">
			<img src="{{asset('/assets/Marché.JPG')}}" class="home-img"/>
			<div class="home-container ">

				<div class="home-info">

					<h1 class=" title">Les huiles végétales
						<br>
						un véritable élixir</h1>

					<a href="#qui" class="button">Découvrir nos Huiles</a>

				</div>
				<div class="home-logo display-desktop">
					<a href="{{path('home')}}" title="Accueil"><img class="nav-logo" src="{{ asset('/assets/new-logo-2022.png') }}"></a>
				</div>
			</div>
		</section>

		<!--elixir de jouvence-->
		<section class="section">
			<div class="elixir-container container grid">
				<div class="elixir-img">
					<div class="elixir-img-overlay">
						<img class="elixir-img-two" src="{{asset('/assets/Page Ac.JPG')}}"/>
					</div>
				</div>
				<div class="elixir-info">
					<h2 class="section-title elixir-title">Elixir de jouvence</h2>
					<p>Pourquoi faire germer les graines ? La germination est le processus naturel. Le contact des graines avec l'eau inhibe leur dormance. Il déclenche un enchainement de mécanismes entrainant la décomposition de grosses molécules nutritives complexes en levant les inhibiteurs indigestes,
					</p>
				</div>

			</div>
		</section>
		<!-- qui sommes nous -->
		<section class=" qui-section" id="qui">
			<div class="qui-container container">
				<h2 class="section-title qui-title">Qui sommes nous</h2>
				<div class="qui-info">
					<p></p>
				</div>
				<div class="qui-img-container">
					<div class="qui-img">
						<img class="elixir-img-two" src="{{asset('/assets/Image JPEG 9.jpeg')}}"/>

						<a href="{{path('oils')}}" class="button qui-button">Nos Huiles</a>

					</div>
					<div class="qui-img">
						<img class="elixir-img-two" src="{{asset('/assets/Image JPEG 10.jpeg')}}"/>
						<button class="button qui-button">Nos Familles</button>
					</div>
					<div class="qui-img">
						<img class="elixir-img-two" src="{{asset('/assets/oilbg.jpeg')}}"/>
						<button class="button qui-button">Méthode de production</button>
					</div>
				</div>
			</div>
		</section>
		<!--nos valeurs et nos engagements-->
		<section class="section">
			<div class="valeur-container container grid">
				<div class="valeur-info">
					<h2 class="section-title valeur-title">
						Nos valeurs et nos engagements
					</h2>
					<p></p>
				</div>
				<div class="valeur-liste">
					<img class="elixir-img-two" src="{{asset('/assets/Presse hydraulique.JPG')}}">
				</div>
			</div>
		</section>
		<!-- contact -->
		<section>
			<div class="contact-bg">
				<div class="contact-container ">
					<h2 class="section-title contact-title">Contact</h2>
					<p
						class="contact-description">
						<!---Contactez nous pour avoir plus d'informations sur nos produits-->
						Bientôt disponible
					</p>

				</div>
			</div>
		</section>
	</main>

{% endblock %}
