{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="oil-section">
		<h1 class="section-title">Huiles vegetales de graines germees et des oléagineux activés</h1>
		<div class="oil-container">
			<div class="oil-families">
				<h3 class="section-title">Familles botaniques</h3>
				<ul>
					{% for family in families %}
						{% if family.active %}
							<li>
								<a href="{{path('family_oil',{id:family.id})}}">{{family.name}}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<div class="oil-products">
				{% for oil in oils %}
					<!-- card -->
					<div class="card">
						<div class="img">
							<div class="slideshow">
								<ul>
									{% for image in oil.images  %}
										<li><img style="width:400px;height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
									{% endfor %}
								</ul>
							</div>
							<a href="{{path('oil_read', {id: oil.id,})}}">Voir ce produit</a>
						</div>
						<div class="info">
							<div class="name">
								<h2>{{oil.name}}</h2>
								<span class="price">{{oil.price}}
									€</span>
							</div>
							<span class="name-alt">{{oil.description}}</span>
							<div class="description">
								<h3>Capacité</h3>
								<span>25</span>
								<span>50</span>
								<span>100</span>
							</div>

						</div>
					</div>
					<!-- fin card -->
				{% endfor %}
			</div>

		</div>
		<h3 class="section-title">Méthodes de production</h3>
		<div class="oil-methode">
			<div>
				<h3>Parties utilisées: Graines et oléagineux
				</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>

			</div>
			<div>
				<h3>Pré-traitement: Germination des graines et activation des oléagineux</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>
			</div>
			<div>
				<h3>Méthode d’extraction mécanique: Presse hydraulique</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora cupiditate totam sequi reprehenderit blanditiis iusto praesentium eos laboriosam omnis sunt porro odit, assumenda perspiciatis placeat, ipsam accusantium fuga earum nisi.</p>
			</div>
		</div>
	</div>

{% endblock %}
