<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta
		name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

		<!--css-->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/form.css">
		<link rel="stylesheet" href="/css/oil.css">
		<link rel="stylesheet" href="/css/carousel.css">
		<link rel="stylesheet" href="/css/admin.css">
		<link rel="stylesheet" href="/css/blog.css">
		<link
		rel="icon" type="image/png" href="/assets/logo-removebg-preview.png"/>
		<!--font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@500&family=Nunito+Sans&family=Sacramento&display=swap" rel="stylesheet">
		<!--icon-->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		<!-- jquery -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

		<title>
			{% block title %}{% endblock %}
		</title>


	</head>
	<body id="home">

		<header id="header">
			<nav>
				<div class="nav-menu" id="nav-menu">
					<ul class="nav-list">
						<a href="{{path('home')}}" title="Accueil" class="display-desktop">Accueil</a>
						{% if is_granted("ROLE_ADMIN") %}
							<li>
								<a href="{{path('admin_oils_index')}}" class="nav-link">Admin Huiles</a>
							</li>

							<li>
								<a href="{{path('admin_articles_index')}}" class="nav-link">Admin Articles</a>
							</li>
							<li>
								<a href="{{path('blog')}}" class="nav-link">Le blog</a>
							</li>
							<li>
								<a href="{{path('cart')}}" class="nav-link">Mon panier</a>
							</li>

						{% endif %}

					</ul>
					<div class="nav-account-mobile">
						<a href="{{path('home')}}" title="Accueil"><img src="{{ asset('/assets/new-logo-2022.png') }}"></a>
						<a href="{{path('oils')}}">Découvrir nos Huiles </a>
						{% if is_granted("ROLE_ADMIN") %}
							<details>
								<summary>
									Mon compte
								</summary>

								{% if app.user %}
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										{{ app.user.username }}</span>
								{% endif %}
								<a href="{{path('app_login')}}">Connexion</a>
								<a href="{{path('app_logout')}}">Déconnexion</a>

							</details>
						{% endif %}
					</div>
					<div class="nav-account">
						{% if is_granted("ROLE_ADMIN") %}
							<details>
								<summary>Mon compte</summary>
								{% if app.user %}
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										{{ app.user.username }}</span>
								{% endif %}
								<a href="{{path('app_login')}}">Connexion</a>
								<a href="{{path('app_logout')}}">Déconnexion</a>
							</details>
						{% endif %}
					</div>
				</div>


				<!--menu burger-->
				<div id="nav-toggle">
					<span></span>
				</div>
			</nav>

		</header>

		{% block body %}{% endblock %}


		<!-- footer -->
		<footer
			class="footer-section section">

			<!--scroll top-->
			<a href="#home" id="scroll-top">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</a>
			<!-- scroll top -->
			<!-- footer section -->
			<div class="footer-container container grid">
				<div class="footer-content grid">
					<div class="footer-info">
						<h3 class="footer-title">Huiles Végétales AK</h3>
						<p class="footer-description">Elixir de jouvence</p>
					</div>
					<div class="footer-info">
						<h3 class="footer-title">A propos</h3>
						<a class="footer-item" href="{{path('mentions')}}">Mentions légales</a>
					</div>
				</div>
			</div>
		</footer>


	</body>
</html>
{% block javascripts %}

	<script src="{{asset('js/main.js')}}"></script>
	<script src="{{asset('js/carousel.js')}}"></script>

{% endblock %}
