{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<section class="section">
		<h1 class="section-title">Famille des
			{{family.name}}
		</h1>

	</section>
	<section>
		{% if family.story %}
			<details>
				<summary>Histoire botanique</summary>
				{{family.story}}
			</details>
		{% endif %}
	</section>


	<section class="section">

		<div class="container-card">
			{% for oil in oils %}
				<!-- card -->
				<div class="card">
					<div class="img">
						<div class="slideshow">
							<ul>
								{% for image in oil.images  %}
									<li><img style="width:400px;height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
								{% endfor %}
							</ul>
						</div>
						<a href="{{path('oil_read', {id: oil.id,})}}">Voir ce produit</a>
					</div>
					<div class="info">
						<div class="name">
							<h2>{{oil.name}}</h2>
							<span class="price">{{oil.price}}
								€</span>
						</div>
						<span class="name-alt">{{oil.description}}</span>
						<div class="description">
							<h3>Capacité</h3>
							<span>25</span>
							<span>50</span>
							<span>100</span>
						</div>

					</div>
				</div>
				<!-- fin card -->
			{% endfor %}
		</div>
	</section>
{% endblock %}
