{% extends "base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<section class="section">
		<h1 class="section-title">Famille des
			{{family.name}}
		</h1>

	</section>
	<section>
		{% if family.story %}
			<details>
				<summary>Histoire botanique</summary>
				{{family.story}}
			</details>
		{% endif %}
	</section>


	<section class="section oil-section">

		<div class="oil-container">
			{% for oil in oils %}
				<!-- card -->
					<div class="card">
						<div class="card-img">
							<div class="display-mobile">
								<ul>
									{% for image in oil.images|slice(0,1) %}
										<li><img style="width:300px;height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
									{% endfor %}
								</ul>
							</div>
							<div class="slideshow display-desktop">
								<ul>
									{% for image in oil.images %}
										<li><img style="width:300px;height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
									{% endfor %}
								</ul>
							</div>
							<a href="{{path('oil_read', {id: oil.id,})}}">Voir ce produit</a>
						</div>
						<div class="card-info">
							<div class="card-name">
								<h2>{{oil.name}}</h2>
								<span class="card-price">{{oil.price}}
									€</span>
							</div>
							<span class="card-name-alt">{{oil.description}}</span>
							<div class="card-description">
								<h3>Capacité</h3>
								<span>25</span>
								<span>50</span>
								<span>100</span>
							</div>

						</div>
					</div>
					<!-- fin card -->
			{% endfor %}
		</div>
	</section>
{% endblock %}
