{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block body %}

	<div class="section">
		<div class="container grid">
			<div class="slideshow">
				<ul>
					{% for image in oil.images  %}
						<li><img style="width:400px; height:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} "></li>
					{% endfor %}
				</ul>
			</div>
			<div class="carousel-mobile">
				{% for image in oil.images  %}
					<img style="height:200px; width:100%; object-fit:cover;" src=" {{ asset('uploads/'~ image.name)}} ">
				{% endfor %}
			</div>

			{% if oil.images.isempty %}
				<div>
					<span>Image non disponible</span>
				</div>
			{% endif %}
			<div>
				<h3>{{oil.name}}</h3>
				<p>
					<span>Description:</span>
					{{oil.description}}
				</p>
				<ul>
					<li>
						<span>Prix:</span>
						{{oil.price}}
						€</li>
					<li>
						<span>Capacité:</span>
						{{oil.capacity}}
						ml</li>
					<li>
						<span>Utilisation:</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae</p>
					</li>
				</ul>
		

			</div>
		</div>
	</div>

{% endblock %}
