{% extends 'base.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block body %}
	<div class="section">
		<div class="container grid">
			<h1 class="section-title">Administration Huiles</h1>
			<div>
				<a href="{{ path('admin_oils_new') }}">
					<button class="button">Ajouter nouvelle huile</button>
				</a>
			</div>

			{% for oil in oil|sort((a, b) => a.name <=> b.name) %}
				<div class="admin-summary-list">
					<div class="admin-info">
						{{oil.name}}
						{{ oil.active ? 'Yes' : 'No' }}
					</div>
					<div class="admin-buttons">
						<a href="{{ path('admin_oils_edit', {'id': oil.id}) }}">
							<button class="button edit-button">Modifier</button>
						</a>
						<form method="post" action="{{ path('admin_oils_delete', {'id': oil.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oil.id) }}">
							<button class="button delete-button">Supprimer</button>
						</form>

					</div>
				</div>
			{% else %}
				no oil found
			{% endfor %}

		</div>
	</div>


{% endblock %}
