{% extends 'base.html.twig' %}

{% block title %}Family index
{% endblock %}

{% block body %}
	<h1>Family index</h1>


	<div class="section">
		<div class="container grid">
			<h1 class="section-title">Administration Familles</h1>
			<div>
				<a href="{{ path('admin_families_new') }}">
					<button class="button">Ajouter nouvelle famille</button>
				</a>
			</div>

			{% for family in families|sort((a, b) => a.name <=> b.name) %}
				<div class="admin-summary-list">
					<div class="admin-info">
						{{family.name}}
						{{ family.active ? 'Yes' : 'No' }}
						{{family.story}}
					</div>
					<div class="admin-buttons">
						<a href="{{ path('admin_families_edit', {'id': family.id}) }}">
							<button class="button edit-button">Modifier</button>
						</a>
						<form method="post" action="{{ path('admin_families_delete', {'id': family.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ family.id) }}">
							<button class="button delete-button">Supprimer</button>
						</form>
					</div>
				</div>
			{% else %}
				no family found
			{% endfor %}

		</div>
	</div>

{% endblock %}
