{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="section">
		<div class="container grid">
			<h1 class="section-title">Administration Articles</h1>
			{% for message in app.flashes('success')  %}
				<div class="success-message">
					{{message}}
				</div>
			{% endfor %}
			<!--bouton ajout-->
			<div>
				<a href="{{ path('admin_articles_new') }}">
					<button class="button">Ajouter nouvel article</button>
				</a>
			</div>

			{% for article in articles %}

				<details class="admin-details">
					<summary class="admin-summary">
						<div class="admin-info">
							{{article.title}}
							{{ article.content}}
							{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}
						</div>
						<div class="admin-buttons">
							<a href="{{ path('admin_articles_edit', {'id': article.id}) }}">
								<button class="button edit-button">Modifier</button>
							</a>
							<form method="post" action="{{ path('admin_articles_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
								<button class="button delete-button">Supprimer</button>
							</form>

						</div>
					</summary>

			{% for image in article.imageArticles %}
					<div><img style="width:auto; height:200px; object-fit:cover;" src="{{ asset('/uploadsArticle/'~ image.name)}}" alt="Image">
					</div>

				{% endfor %}
				</details>


			{% else %}
				<p>Aucun article trouvé</p>
			{% endfor %}

		</div>
	</div>
{% endblock %}
