{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
   
	<div class="section">
		<div class="form-login">
			<h1 class="section-title">Ajouter un nouvel article</h1>
			<div class="form-container">
				{{ form_start(form) }}
				<div class="form-input">
					{{form_row(form.title)}}</div>
				<div class="form-input">
					{{form_row(form.content)}}</div>
				<div class="form-input">
					{{form_row(form.created_at)}}</div>
				<button class="button">{{ button_label|default('Enregistrer') }}</button>
				{{ form_end(form) }}
			</div>
		</div>

	</div>
{% endblock %}
